__pycache__/

*.log

api_config.json

outputs/

.vscode/

.specstory/

CloudDiskData/

Notes/

sanbox_ws/
sandbox_ws/

outputs/

/tasks/

toolbox/test_tool.py

.cursorindexingignore

sandbox_workspace/

virtual_server/chat_server_config.json

tmp*.py

hfd.sh

test.py
test.json
test.md

CLBench/scenarios

task_type_analysis.csv
task_type_summary.csv

.venv/
.python-version



meta-agents-research-environments/

AgentBench/

tmp_docs/

